time.icon
{
  font-size: 2em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}
.btn-bwm {
  background-color: grey;
  
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  box-shadow: none;
}
time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #E21E2A;
  border-bottom: 1px dashed #E21E2A;
  box-shadow: 0 2px 0 #E21E2A;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #E21E2A;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}