input {
	display: none;
}

.image-upload-container {
	cursor: pointer;
}

.btn-bwm {
  background-color: grey;
  border-color: red;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid red;

  &:hover, &:focus, &:active {
    border-color: grey !important;
    background-color: green !important;
  }
}

.img-preview-container {
	background-color: #f7f7f7;
	position: relative;

}
.img-preview {
	background:center center no-repeat;
	background-size: contain;
	height: 116px;
	width: 166px;
	}

