<div class="bg">
	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<h3>Gallery</h3>
	<br>
	<h4>Share a memory! </h4>
	
	<app-image-upload-component></app-image-upload-component>
	
	<br>
	<br>
	
	<hr>
	<small>
			Here are some memories shared by our colleagues :
	</small>
	<br><br>

  	<div class="gallery">
		
		<span *ngFor="let image of galleryImages">
			<img (click) = "showImage(image.imageUrl)" src= "{{ image.imageUrl }}" style="width:180px;height:180px;padding: 20px;" data-toggle="modal" data-target="#myModal"/>

		</span>	
				
	</div>
	<br><br><br>
</div>


<!-- The Modal -->
  <div class="modal fade" id="myModal" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <img src= "{{ currentimageUrl }}" width="100%" />
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
