.bg {
    /* The image used */
    background-image: url("../../assets/images/background/1.png");
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

img {
  border-radius: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

h3 {
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
}