.bg {
    /* The image used 
    background-image: url("../../assets/images/background/1.png");
  */
      
    height: 160%;
    
  }
  
  /*div.gallery:hover {
    border: 1px solid #777;
  }*/
  
  
img {
  border-radius: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

h3 {
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 6px;
}