.btn-bwm {
  background-color: grey;
  border-color: red;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid;
}

.bg {
  /* The image used */
  background-image: url("../../assets/images/background/1.png");

  /* Full height */
  height: 110%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment {
  width: 100%;
}

input {
  width: 100%;
}

h3 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 6px;

}