<div class="bg">

<h3>Strategy X-Ray</h3>
<br>
<div *ngIf = "Hero.team !== -1 && status !== 1">
	

<h4>Currently reviewing : Team {{Hero.team}}</h4>
<br>
<!-- p><small>
  Kindly provide your name.
  </small> 
</p -->
<!-- label>Name :</label> <br -->
<!-- input [(ngModel)]="Hero.name" type="text" class="comment">
<br -->
<!-- label><small>How do you rate your experience here ? :</small></label --> 
What did you like most about the teams pitch ? <br>
<input [(ngModel)] = "Hero.rating[1]" type="text" name="first_res" class="form-control">
<hr>
What was missing for you in that strategy ? <br>
<input [(ngModel)] = "Hero.rating[2]" type="text" name="second_res" class="form-control">
<hr>
Provide one point you could add to the strategy ? <br>
<input [(ngModel)] = "Hero.rating[3]" type="text" name="third_res" class="form-control">
<hr>
Rate the overall content and delivery of the presentation
<app-starsrate name="first" (click)="myName(0)"></app-starsrate>

<br>
<!-- label><small>Any comments, suggestions ?</small></label> <br>
<textarea [(ngModel)]="Hero.comment" class="comment"></textarea>
<br -->
<button (click)="getAllInfo()" class="btn-bwm">Submit Review</button>
</div>


	<div *ngIf="Hero.team === -1">
		<h4>No team is being scored at the moment.</h4>
	</div>

	<div *ngIf= "status === 1" class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		Your feedback was successfully recorded! Thank you.
	</div>
	<div *ngIf= "status === 0" class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		Something went wrong, maybe internet ? Please try again,
	</div>
	<br><br>
	<br><br>
</div>