<h1>Rate Your Experience !</h1>
<br>
<p><small>
  Kindly provide your name.
  </small> 
</p>
<!-- label>Name :</label> <br -->
<input [(ngModel)]="Hero.name" type="text" class="comment">
<br>
<label><small>How do you rate your experience here ? :</small></label> <br>
<app-starsrate></app-starsrate>
<br>
<label><small>Any comments, suggestions ?</small></label> <br>
<textarea [(ngModel)]="Hero.comment" class="comment"></textarea>
<br>
<button (click)="getAllInfo()" class="btn-bwm">Submit Review</button>