<h3>
  Venue
</h3>
<!-- p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p -->
<div class="container">
	<br>
		<br>
		<br>
	<div class="row">


		<p>
			River Meadow Manor <br>
			1 Jan Smuts Ave <br>
			Twin River Estates <br>
			Centurion <br>
			0062
		</p>
		
	</div>
	<div class="row">
		
			<a href="https://www.google.com/maps/dir//River+Meadow+Manor,+1+Jan+Smuts+Ave,+Twin+River+Estates,+Centurion,+0062/@-25.8890731,28.2271372,17z/data=!4m6!4m5!1m0!1m2!1m1!1s0x1e95666b399b5bc3:0x989385208c4e559f!3e0" class="btn-bwb">Open In Google Maps</a>
	</div>

	<br>
	<a routerLink="/dashboard"><button class="myButton">Back</button></a>
	<br>
	<br>
	
	<!--<div class="col">-->
		
	<!--</div>-->
	<br><br><br>
</div>
