.btn-bwm {
  background-color: grey;
  border-color: red;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid;
}


.btn-bwb {
	box-shadow:inset 0px 1px 0px 0px grey;
	background-color:grey;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px grey;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #E21E2A;
}
.myButton:hover {
	background-color:#E21E2A;
}
.myButton:active {
	position:relative;
	top:1px;
}


