<div class="bg">

    <h3>Poll</h3>
  
  <hr>
  <div *ngIf ="currentPoll.question && currentPoll.question !== 'loading'" class="container">
    <div class="row">
      <p class="quiz">
        {{currentPoll.question}}
      </p>
      <br>
    </div>
    <div *ngFor = "let ans of currentPoll.data" class="row">
      <button *ngIf ="ans.text" (click)="respondToPoll(ans.text)" class="pollbtn"> {{ans.text}} </button><br>
      <span *ngIf = "ans.text" class="pollbtn">{{ans.vote}}</span>
    </div> 
    

    <div *ngIf = "voted === 1" class="row">
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="unsetVote()">&times;</button>
        Your Response has been added Successfully! Thank you.
      </div>
    </div>  
  </div>
  <div *ngIf ="currentPoll.question === 'loading'" class="container">
    <h2> loading ... </h2>
  </div>
  <div *ngIf ="!currentPoll.question">
    <h4> No poll running at this time </h4>
  </div>


</div>
