
<div class="container">
	<br>
		<div class="row justify-content-center align-items-center">
			
			<img class="rounded" src="../assets/images/logo.png">	
		</div>
	<br>
	<br>
	<br>
	<br>

		<div class="row justify-content-center align-items-center">
			<div class="col">
				<a routerLink="/welcome">
					<img class="rounded dash_img" src="../assets/images/invitation.png" >
				<br><small>Welcome</small>
			</a>
			</div>
			<div class="col">
				<a routerLink="/purpose"><img class="rounded dash_img" src="../assets/images/goal.png">
				<br><small>Purpose</small>
			</a>
			</div>
		</div>
	<br>
	<br>
		<div class="row">
			<div class="col">
				<a routerLink="/location"><img class="rounded dash_img" src="../assets/images/map.png">
				<br><small>Location</small></a>
			</div>
			<div class="col">
				<a routerLink="/date"><img class="rounded dash_img" src="../assets/images/calendar.png">
				<br><small>Date</small></a>
			</div>
		</div>
</div>

  <!-- a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a -->