<div class="bg">
	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<div class="container">
		<br>
		<div class="row justify-content-center align-items-center">
			
			<img class="rounded" src="https://s3.us-east-2.amazonaws.com/itssesseion/logo.png">	
			
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="row">
			<div class="col">
				<div class="row justify-content-center align-items-center">
					<a routerLink="/purpose" align="center"><button class="btn"><i class="fa fa-comment"></i> About</button>
				<!--<br><small>About</small>-->
					</a>
				</div>
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>
		
		<div class="row">
			<div class="col">
				<div class="row justify-content-center align-items-center">
					<a routerLink="/location" align="center"><button class="btn"><i class="fa fa-map-marker"></i> Location</button>
						<!--<br><small>Location</small>-->
					</a>
				</div>
			</div>
		</div>

	<br>
	<br>
	<br>
	<br>
		<!--<div class="row">
			<div class="col">
				<div class="row justify-content-center align-items-center">
					<a routerLink="/date"><img class="rounded dash_img" src="https://nielafloor.de/images/bilddaten/icons/calendar68.png">
						<br><small>Date</small>
					</a>
				</div>
			</div>
		</div>-->	
	</div>
	
</div>



  <!-- a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a -->